@model EBookStore.Models.Book

@{
    ViewBag.Title = "Delete Book";
}

<div class="container mt-4">
    <h2 class="text-danger mb-3">Delete Book</h2>

    <div class="alert alert-warning">
        <strong>Are you sure you want to delete this book?</strong>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(model => model.Title)</h4>
            <p class="card-text">
                <strong>Author:</strong> @Model.Author.FirstName <br />
                <strong>ISBN:</strong> @Model.ISBN <br />
                <strong>Price:</strong> @Model.Price.ToString("C") <br />
                <strong>Description:</strong> @Html.DisplayFor(model => model.Description)
            </p>
        </div>
    </div>

    @using (Html.BeginForm("AdminDeleteConfirmed", "Book", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.BookId" />

        <button type="submit" class="btn btn-danger">Delete</button>
        @Html.ActionLink("Cancel", "AdminIndex", null, new { @class = "btn btn-secondary ml-2" })
    }
</div>
