@model IEnumerable<EBookStore.Models.Book>

<div class="container">
    <h2>Featured Books</h2>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    @*<img src="@book.ImageUrl" class="card-img-top" alt="@book.Title">*@
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Author</p>
                        <p class="card-text">$@book.Price</p>
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>