<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @* SweetAlert CDN *@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @Styles.Render("~/Content/css")
    @RenderSection("Styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark main-background-color py-4">
        <div class="container d-flex justify-content-between align-items-center">
            @Html.ActionLink("E-Book", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fs-3 font-weight-bold" })

            <ul class="navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Search", "Search", "Book", new { area = "" }, new { @class = "nav-link" }) </li>
                <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-link d-flex align-items-center py-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="m12 10l-1.4-1.4L12.175 7H8V5h4.175l-1.6-1.6L12 2l4 4zM7 22q-.825 0-1.412-.587T5 20t.588-1.412T7 18t1.413.588T9 20t-.587 1.413T7 22m10 0q-.825 0-1.412-.587T15 20t.588-1.412T17 18t1.413.588T19 20t-.587 1.413T17 22M1 4V2h3.275l4.25 9h7l3.9-7H21.7l-4.4 7.95q-.275.5-.737.775T15.55 13H8.1L7 15h12v2H7q-1.125 0-1.713-.975T5.25 14.05L6.6 11.6L3 4z" /></svg>
                    @Html.ActionLink("Cart", "Index", "Book", new { area = "" }, new { @class = "nav-link" })<sup id="countOrders" class="text-light"></sup>
                </li>
            </ul>

            <div class="d-flex gap-3">


                @if (Session["CustomerName"] != null)
                {
                    var username = Session["CustomerName"];
                    <div class="d-flex align-items-center">
                        <ul>
                            <li>
                                @Html.ActionLink($"Hello {username}", "Index", "Customer", new { area = "" }, new { @class = "text-white py-2 px-5 mt-3 text-decoration-none", title = "Go to Profile" })
                            </li>

                            @*<p class="text-white py-2 px-5 mt-3">Hello @username </p>*@
                        </ul>
                        @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "btn border-2 text-light border-light font-weight-bold rounded-5 px-4 py-2" })
                    </div>

                }
                else
                {
                    @Html.ActionLink("Sign-Up", "SignUp", "Home", new { area = "" }, new { @class = "btn btn-light font-weight-bold rounded-5 px-4 py-2" })
                    @Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "btn border-2 text-light border-light font-weight-bold rounded-5 px-4 py-2" })
                }
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <div class="container-fluid mt-auto">
        <footer class="p-3 d-flex justify-content-center align-items-center" style="background-color: #0E223B;">
            <p class="text-center fs-5 text-white font-weight-bold">&copy; @DateTime.Now.Year | E-Book</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
